body {
  margin: 0;
  padding: 0;
  height: 100rem;
  background-color: #f1f4fa;
    /* background: 

      linear-gradient(21deg, #020d1d, #04202d74, #02142b 70.71%),
      linear-gradient(90deg, #021b29,#0a2f6b, #061427 70.71%),
      linear-gradient(45deg, rgb(6, 18, 70), #021e30, #06142b 70.71%); */
    background-size: 400% 400%;

    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    animation: gradientAnimation 10s ease infinite;
  }
  
  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%, 0% 50%, 0% 50%;
    }
    50% {
      background-position: 100% 50%, 100% 50%, 100% 50%;
    }
    100% {
      background-position: 0% 50%, 0% 50%, 0% 50%;
    }
  }

/* 
.canvas {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
} */
@keyframes grid {
  0% { font-size: calc(100vw / 24 * 1); }
  25% { font-size: calc(100vw / 24 * 2); }
  50% { font-size: calc(100vw / 24 * 3); }
  75% { font-size: calc(100vw / 24 * 4); }
  100% { font-size: calc(100vw / 24 * 5); }
}

@font-face {
  font-family: 'Happy Times NG Italic';
  src: url('happy-times-NG_italic_master_web.woff') format('woff');

   }
  
@font-face {
  font-family: 'Inter';
  src: url('Inter-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter-Light';
  src: url('InterVariable.ttf') format('truetype');
}

@font-face {
  font-family: 'NHD-Bold';
  src: url('/assets/NeueHaasDisplay-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'NHD-Light';
  src: url('/assets/NeueHaasDisplay-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'NHD-Medium';
  src: url('/assets/NeueHaasDisplay-Roman.ttf') format('truetype');
}
@font-face {
  font-family: 'NHD-Med';
  src: url('/assets/NeueHaasDisplay-Mediu.ttf') format('truetype');
}
@font-face {
  font-family: 'NHD-Black';
  src: url('/assets/NeueHaasDisplay-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'NHD-Thin';
  src: url('/assets/NeueHaasDisplay-Thin.ttf') format('truetype');
}

/* url('triakisfont-regular-webfont.woff') format('woff');
  src: url('JetBrainsMono-Regular') format('ttf'), 
       url('JetBrainsMono-SemiBold') format('ttf'),
       url('JetBrainsMono-Lught') format('ttf');
  } */ 
  
  nav {
    width: 100%;
    display: flex;
    background-color: var(--bc-nav-foot);
    z-index: 5;
    font-family: 'Inter-Light';
    font-weight: 300;
    color: #000;
  }

  #navbar {
    top: 0;
    position: fixed;
    width: 100%;
    /* position: fixed; */
    background: transparent;
    /* rgba(2, 22, 46, 0.307); */
    /* box-shadow: 0 3px 4.5px rgba(1, 17, 31, 0.312);  */
    /* border-bottom: 0.3px solid rgba(11, 64, 93, 0.733); */
    backdrop-filter: blur(10px);
    font-size: 1.2rem;
    text-align: right;

    overflow: hidden;
    transition: top 2s;
    z-index: 10;
  }

  .nav-item {
    color:#000;
    font-size: 0.91em;
    line-height: 1.5em; 
    float: left;
    margin-left: 2%; 
  }


/* 
  .nav-left {
      display: flex;
      align-items: center;
  }

  .nav-text {
      margin-right: 10px;
  }

  .nav-icon {
      margin-right: 10px; 
  } */

  .nav-center {
    margin: 0;
    padding: 0 1.1em;
    width: 100%;
  }
  .nav-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    flex-wrap: nowrap;
  }

  .nav-link-ani,
  .nav-link-active {
    display: inline-block;
    cursor: pointer;
    font-size: 0.9em;
    line-height: 1.5em; 
  }
  
  .nav-link-ani:hover {
    color: #844faf;
  }
  
  .nav-link-active:hover {
    color: #844faf;
  }

  
  .nav-link {
    color: var(--white);
    text-decoration: none;
    display: inline-block;
    padding: 0.8em 0.6em;
    margin: 0 0em;
    transition: color .35s ease;
  }
  
  .nav-link-ani .nav-link i {
    color: var(--white);
  }

  @media screen and (max-width: 768px) {
    #navbar .nav-item:first-child {
      display: none;
    }
  }

/* #s1 {
  display: inline-block;
}

.left-content {
  position: relative;
}

.right-content {
  position: relative;
  overflow: hidden;
}

.right-content canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
} */

.content-container {
  display: flex;
  flex-wrap: wrap;
}

.left-content {
  flex: 1;
}

.right-content {
  flex: 1;
  background-color: #667eea;
}

/* Adjust the width of the left and right content */
.left-content {
  width: 50%;
  margin-right: 0;
  margin-left: 3%; /* Adjust this value as needed */
}

.right-content {
  position: relative;
  width: 50%; /* Adjust this value as needed */
}

canvas {
  display: block;
  margin: 12rem 5rem 0 0;
}


  #myName {
    /* height: max-content; */
    width: max-content;
    position: relative;
    font-family: 'NHD-Light';
    word-spacing: 0.9rem;    
    color: rgb(99, 99, 99);
    font-size: 1.7vw; 
    font-weight: 500;
    margin: 7.5rem 60rem 0rem 7.7% ;
  }

  #nameText {
    margin: 0rem 0rem -0.8rem 7% ;
    /* width: max-content; */
    position: relative;
    font-family: 'NHD-Black';
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    font-size: 11vw; 
    filter: url(#distortionFilter);
    /* font-size: grid(3); */
    color: #0e0e0e;
  }
  
  
  #traitsBox {
    margin: 0rem 0rem 4rem 7%;
    position:relative;
    color: rgb(133, 135, 136);
    font-size: 5.4rem; 
    text-decoration-thickness: 0.2rem;
    font-family: 'NHD-Medium';
    display: inline-block;
    white-space: nowrap;
    text-align: left;
  }
  

  
   #descriptionId {
    /* width: 45rem; */
    height: min-content;
    font-family: 'NHD-Light';
    font-size: 1.2rem;
    font-weight: 100;
    color: rgb(0, 0, 0);
    position: relative;
    margin: 0rem 10% 0rem 7%;
    overflow-x: hidden;
    word-spacing: 0.07rem;

  }
    
  .projectsText {

    margin: 14% 6rem 0rem 7%;
    position: relative;
    font-family: 'NHD-Bold';
    letter-spacing: 0.008em;
    color: rgb(0, 0, 0);
    font-size: 7rem; 
    text-transform: uppercase;
    font-weight: 500; 

  }
  
  .project {
      opacity: 0;
      transition: opacity 0.5s ease, transform 0.5s ease;
      flex-basis: calc(33.33% - 2rem); /* Adjust the width of each project item */
      margin-bottom: 2rem;
    
  }
  
  .slide-in {
    opacity: 1;
    transform: translateX(0); /* Start position */
  }
  
  @keyframes slideInFromRight {
    from {
      opacity: 0;
      transform: translateX(100%); /* Start position */
    }
    to {
      opacity: 1;
      transform: translateX(0); /* End position */
    }
  }
  
  .project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 5.5% 0 0 0;
  }
  
  .ul--reset {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  
  .vertical-menu {
    font-size: 3em;
    margin: 0 0 0 7%; 
    color: #000000;
    /* flex: 31%; */
    align-items: center;
    /* justify-content: center; */
  }

  .vertical-menu-item::before {
    content: "\2733"; /* FLOWER PUNCTUATION MARK */
    margin-right: 0.2em; 
    
  }
  
  .vertical-menu-item {
    /* transition: all 0.4s; */
    text-align: left;
    margin: 0 0 7% 0;
  }
  
  .link--inverse-menu {
    color: #000;
    text-decoration: none;
    font-family: 'NHD-Medium';

    /* &:visited {
      color: #000;
    } */
  
    &:hover
    /* &:active  */
    {
      color: #c0bbbb;
    }
  }
  
  #projectItems {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0rem 3rem 2rem 2rem;
    /* flex: auto; */
  }
  

  
  #toolsInfo {
    display: flex;
    flex-direction: row; 
    align-items: center; 
    margin: 0 0.5rem;
    /* margin-bottom: 1rem;  */
    /* width: 80%; */

}

  #toolsDescription {
    display: flex;
    flex-direction: column;
    /* align-items: flex-end; */
  }

  #tools {
    font-family: 'NHD-Light';
    font-size: 1.3rem;
    color: rgb(0, 0, 0);
    border: 1px solid;
    /* background-color: rgba(162, 146, 146, 0.1); */
    padding: 1rem;
    border-radius: 8px;
    text-align: center;
    margin: 0.8rem 0 0 0;
    white-space: pre-wrap;
  }

  #tools:hover {
    background-image: linear-gradient(to right, #ecd8f6, #f0e7f8, #ecd8f6);      transition: all .4s ease-in-out;

  }

  #projectInfo {
    display: flex;
    align-items: center;
    margin: 1rem 3rem 0 0; 
  }
  

  #projectImage {
    margin: 0rem 3rem 0rem 3rem; 
  }


  #viewButton {
    display: block;
    
    font-family: 'NHD-Med';
    border: 1px solid; 
    width: auto;
    padding: 0.7rem;
    border-radius: 8px;
    font-size: 1.2rem;
    text-transform: lowercase;
    letter-spacing: 0.1rem;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    color: #211d1d;
    margin-bottom: 0.5rem;
    background-image: linear-gradient(to right, #a78cb5, #cfa1fe, #c295eb, #a78cb5);      transition: all .4s ease-in-out;
  }
    #viewButton:hover {
      background-position: 100% 0;  /* Maintain existing positioning */
      background-image: linear-gradient(to right, #486a8b, #d2c6de, #a4aab8, #486a8b);      transition: all .4s ease-in-out;
      -o-transition: all .4s ease-in-out;
      -webkit-transition: all .4s ease-in-out;
      transition: all .4s ease-in-out;
    }
  
  #projectDescription {
    font-family: 'NHD-Light';
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
    margin: 1rem 0 0 0;
    border: 1px solid; 
    padding: 0.8rem; 
    border-radius: 8px;
    word-spacing: 0.07rem;
    
  }
  
  #projectDescription:hover {
    background-image: linear-gradient(to right, #ecd8f6, #f4f0f9, #ecd8f6);      transition: all .4s ease-in-out;

  }

  
  
  .slide-in-right {
    animation: slideInFromRight 0.6s forwards;
  }

  .slide-in-left {
    animation: slideInFromLeft 0.7s forwards;
  }
  
  .slide-out {
    animation: slideOutToRight 0.5s forwards;
  }
  
  @keyframes slideInFromRight {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes slideInFromLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}


  @keyframes slideOutToRight {
    from {
      transform: translateX(0);
      opacity: 1;
    }
    to {
      transform: translateX(100%);
      opacity: 0;
    }
  }

  #expText {
    margin: 13.4% 6rem 0rem 7%;
    position: relative;
    font-family: 'NHD-Bold';
    letter-spacing: 0.008em;
    color: rgb(0, 0, 0);
    font-size: 8vw; 
    text-transform: uppercase;
    font-weight: 500; 
  }
  
  #flexExp {
    display: flex;
    flex-direction: column; 
    margin: 5.8% 5% 0 7%;
  }
  
  .exp {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border: 1px solid ;
    margin-bottom: 2%;
    border-radius: 8px;
    align-items: center;
    /* padding: 20px; */
  }

  .exp:hover {
    background-image: linear-gradient(to right, #f0d2ff, #faf4ff, #f0d2ff);      transition: all .4s ease-in-out;

  }
   
  .exp-content {
    flex: 0 1 70%; 
    font-family: 'NHD-Medium';
    margin: 0rem 0rem 0rem 2rem;
  }
  
  .exp-skills {
    flex: 0 1 20%; 
    font-family: 'NHD-Medium';
    font-size: 0.95rem;
    line-height: 1.4rem;
    color: #280d52;
  }
  
  #expTitle {
    color: #333;
    font-size: 1.5rem;
    /* margin: 2rem 0 0 2rem; */
    font-family: 'NHD-Medium';

  }
  
  #expiText {
    color: #666;
    margin-bottom: 2rem;
        /* font-family: 'NHD-Medium'; */
  }
  

  
  /* Style for interestText */
  .interestText {
    margin: 10.5% 0 0 7% ;

  }

  #int {
    text-align: left;
    font-family: 'NHD-Med';
    font-size: 5rem;
    text-transform:uppercase;
    word-spacing: 0.8rem;
    margin: 0 0 2.5rem 0;
  }
  
  .buttonInterests {
    display: inline-block;
    position: relative;
    padding: 10px 20px;
    border: 1px solid #000000;
    border-radius: 25px;
    cursor: pointer;
    font-family: 'NHD-Medium';
    font-size: 2rem;
    margin: 0 1.4rem 2rem 0;
    overflow: hidden;
  }
  
  .buttonInterests:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #efcfff, #ba8af6, #efcfff);
    transform: scaleX(0);
    opacity: 0;
    transition: 0.4s cubic-bezier(.86, .01, .15, .99);
    border-radius: inherit; 
  }
  
  .buttonInterests:hover:before {
    transform: scaleX(1);
    opacity: 1;
  }
  
  .buttonInterests p {
    position: relative; 
    z-index: 2; 
    margin: 0 0 ;
  }
  



  .connectGrid {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 3%; 
  }
  
  .connectText {
    text-align: left;
    font-family: 'NHD-Bold';
    color: rgb(0, 0, 0);
    font-size: 6rem; 
    text-transform: uppercase;
    margin: 0 0 0 7%;

  }
  
  .contactInfo {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin: 0 auto;
    
  }
  
  .reachText {
    font-family: 'NHD-Medium' ;
    color: #000;
    margin: 0rem 0 2.6rem 0rem; 
    font-size: 2.4rem;
    text-decoration: 3px solid underline ;
  }
  
  @media screen and (max-width: 768px) {
    #myName {
      font-size: 3.5vw;

    }
  
    #nameText {
      font-size: 17vw;
    }
  
    #traitsBox {
      font-size: 3rem;
    }
  
    #descriptionId {
      font-size: 3vw;
    }
  
    .projectsText {
      font-size: 3rem;
      margin: 2rem 5% 0;
    }
  
    .vertical-menu {
      columns: 2;
    }
  
    .vertical-menu-item {
      break-inside: avoid-column;
      font-size: 4.5vw;
    }
  
    #projectItems {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0rem 3rem 2rem 2rem;
    }
  
    #toolsInfo {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0.5rem 0;
    }
  
    #projectInfo {
      display: flex;
      flex-direction: co;
      align-items: center;
      margin: 1rem 0;
    }
  
    #projectImage {
      width: 100%;
      margin-bottom: 1rem;
    }
  
    #projectDescription {
      width: 100%;
      margin-bottom: 1rem;
    }
  
    #viewButton {
      order: 1;
      margin-bottom: 1rem;
      width: 100%;
    }
  
    .contactInfo {
      margin: 0 auto;
    }
  
    .connectText {
      font-size: 3rem;
      margin: 2rem 5% 0;
    }
  
    .reachText {
      font-size: 1.8rem;
      margin: 0 0 2rem 0;
    }
  
    canvas {
      width: 70%;
    }
  }