body, html {
  margin: 0;
  padding: 0;
  background-color: #000;
}

/* @font-face {
font-family: 'triakis__font_lightregular';
src: url('triakisfont-regular-webfont.woff2') format('woff2'),
     url('triakisfont-regular-webfont.woff') format('woff');
src: url('JetBrainsMono-Regular') format('ttf'), 
     url('JetBrainsMono-SemiBold') format('ttf'),
     url('JetBrainsMono-Lught') format('ttf');
} */

#flexibleContainer {
  background-color: #000;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#randomNumString {
  font-family: 'Courier New', Courier, monospace;
  color: greenyellow;
  margin-top: -26px;
  word-wrap: break-word;
  overflow-y: hidden;
  font-size: 23px;
  /* opacity: 1;
  transition: opacity 0.03s ease-out; */
}

#fullText {
  font-family: JetBrains Mono, serif;
  letter-spacing: 0.005em;
  color: rgb(255, 254, 252);
  font-size: 4.6vw; /* using viewport width for font size */
  font-weight: 500;
  position: fixed;
  top: 20%;
  left: 4.5%;
  transform: translateY(-30%);
  margin-bottom: 3%;
}

#fullText .traitsClass {
  color: greenyellow;
  text-decoration-line: underline;
  text-decoration-thickness: 0.2rem;
  font-weight: 550;
}



.cursorIcon {
  color: greenyellow;
  border-right: .05em solid;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}

 #descriptionId {
  font-family: 'JetBrains Mono', sans-serif;
  /* font-style: lighter; */
  font-size: 1.27vw;
  word-wrap:break-word;
  margin-right: 45%;
  font-weight: 200;
  color: rgb(235, 230, 230);
  position: fixed;
  bottom: 28%; 
  left: 4.5%;
}